custom_datasets/
preprocessed_datasets/
runs/
dataset_relation_latent/
wandb/
complete/0725_11-57-10__decoder/best.pth
complete/0725_11-57-10__decoder/latest.pth
complete/0804_17-15-31__decoder/best.pth
complete/0804_17-15-31__decoder/latest.pth
complete/complex_detr_2/best.pth
complete/complex_detr/best.pth
custom_datasets/WindowedRelation/WindowedRelation_24ef30fafc49a9ffe2a77b77d62e22502cfc599ddd70cf572663539bc325c5d1.pkl
custom_datasets/WindowedRelation/WindowedRelation_9115ff069c74835fac63e6673f6106e6d90cd9a550a9fd456f86baf6a408aa0d.pkl
custom_datasets/WindowedRelation/cache/14599aabe1dff20cb786964e46a1ff408350356ae7c69bec36640b9df8b2f6e9
custom_datasets/WindowedRelation/cache/5996ab7086367796cbaf6f0b9196325826bf825bd87c7e3c0e773d716de962b7
custom_datasets/FormalDatasetWindowed/FormalDatasetWindowed_5d76dcf2af0300c76d9507c087a8cb845698c573c03f718aa682e2672bdebc0a.pkl
custom_datasets/FormalDatasetWindowed/FormalDatasetWindowed_06e3eff4d6bbbeff7db24791a78ae46104e5abe3f279b16f34574a2db75a3fd8.pkl
custom_datasets/FormalDatasetWindowed/FormalDatasetWindowed_c0e8c0c9a010829c1cbf3e032146014c934bf2e41f3ed34ca896777f15754b2f.pkl
custom_datasets/FormalDatasetWindowed/FormalDatasetWindowed_060d79943683d3788e025b37c27ec3bbe7676c381f5e1f3eb8fa9160adb50d6a.pkl
custom_datasets/FormalDatasetWindowed/cache/e51a5eeb2b16ccf17386aa500db7e150f080818d1a12fbfc14436a9e0b0d471e
custom_datasets/FormalDatasetWindowed/cache/cdd8eb370339d54ce26dc096b477e9a6c7d5a3335371458f5b80f107396a2b5e
custom_datasets/FormalDatasetWindowed/cache/3715accd32fb84a8136b0796f58925bdfdc63a6b0d2762daf23d41a772092435
custom_datasets/FormalDatasetWindowed/cache/0e2c535b48b74b15cece4cbb98f817641b2d1566c9b381f68ac220edc354f2fc
custom_datasets/FormalDataset/cache/7cc53f2f5b8027a59253b65b8c070779d570dbdf5af7f3d9fb6b451dd4cbdf4a
custom_datasets/FormalDataset/FormalDataset_d4e731fdf37bd1950a03c986176c78e0dec57902bb6a7a77c049d2f87f1f12ba.pkl
nvidia_log/best.pth
runs/FormalDatasetWindowed/0806_00-43-46__decoder/best.pth
runs/FormalDatasetWindowed/0806_00-43-46__decoder/latest.pth
runs/FormalDatasetWindowed/0806_00-12-11__decoder_cls/best.pth
runs/FormalDatasetWindowed/0806_00-12-11__decoder_cls/latest.pth
runs/FormalDatasetWindowed/0806_00-55-50__decoder/best.pth
runs/FormalDatasetWindowed/0806_00-55-50__decoder/latest.pth
runs/FormalDatasetWindowed/0806_00-45-29__decoder/best.pth
runs/FormalDatasetWindowed/0806_00-45-29__decoder/latest.pth
runs/FormalDatasetWindowed/0806_00-40-36__decoder/best.pth
runs/FormalDatasetWindowed/0806_00-40-36__decoder/latest.pth
runs/FormalDatasetWindowed/0806_00-39-26__decoder/best.pth
runs/FormalDatasetWindowed/0806_00-53-12__decoder/best.pth
runs/FormalDatasetWindowed/0806_00-53-12__decoder/latest.pth
runs/FormalDatasetWindowed/0806_00-41-46__decoder/best.pth
runs/FormalDatasetWindowed/0806_00-41-46__decoder/latest.pth
runs/FormalDatasetWindowed/0806_00-27-31__decoder/best.pth
runs/FormalDatasetWindowed/0806_00-27-31__decoder/latest.pth
runs/FormalDatasetWindowed/0806_00-40-01__decoder/best.pth
runs/FormalDatasetWindowed/0806_00-38-44__decoder/best.pth
runs/FormalDatasetWindowed/0806_00-38-44__decoder/latest.pth
runs/FormalDatasetWindowed/0806_00-06-28__decoder/best.pth
runs/FormalDatasetWindowed/0806_00-06-28__decoder/latest.pth
runs/FormalDatasetWindowed/0806_00-44-32__decoder/best.pth
runs/FormalDatasetWindowed/0806_00-44-32__decoder/latest.pth
runs/FormalDatasetWindowed/0806_00-42-29__decoder/best.pth
runs/FormalDatasetWindowed/0806_00-42-29__decoder/latest.pth
runs/FormalDatasetWindowed/0806_00-20-06__decoder/best.pth
runs/FormalDatasetWindowed/0806_00-20-06__decoder/latest.pth
