[default_event_queue_config_value]
is_auto_dispatch=Y

[default_context_config_value]
pthread_stack_size=0

[default_source_config_value]


[default_receiver_config_value]


#### LINUX NWFIX01P (10.204.5.31)
## FWO100
[SRC_NWFIX01P_FWO100_01_TALL_SQ01]
topic_name=TALL_SQ01
is_hot_failover_recv_mode=N
listen_ip=10.204.5.31
listen_port_range_low=20001
listen_port_range_high=20010

[SRC_NWFIX01P_FWO100_01_TALL_SQ02]
topic_name=TALL_SQ02
is_hot_failover_recv_mode=N
listen_ip=10.204.5.31
listen_port_range_low=20011
listen_port_range_high=20020

[RCV_NWFIX01P_FWO100_01_TME01_O_FWD01]
topic_name=TME01_O_FWD01
is_hot_failover_recv_mode=Y
sess_addr_pair_01=[10.204.5.71:20081-20090;10.204.5.31:50001-60000]
sess_addr_pair_02=[10.204.5.71:20131-20140;10.204.5.31:50001-60000]

[RCV_NWFIX01P_FWO100_01_TME01_M_FWD01]
topic_name=TME01_M_FWD01
is_hot_failover_recv_mode=Y
sess_addr_pair_01=[10.204.5.71:20091-20100;10.204.5.31:50001-60000]
sess_addr_pair_02=[10.204.5.71:20141-20150;10.204.5.31:50001-60000]

[RCV_NWFIX01P_FWO100_01_TME01_C_FWD01]
topic_name=TME01_C_FWD01
is_hot_failover_recv_mode=Y
sess_addr_pair_01=[10.204.5.71:20101-20110;10.204.5.31:50001-60000]
sess_addr_pair_02=[10.204.5.71:20151-20160;10.204.5.31:50001-60000]

[RCV_NWFIX01P_FWO100_01_TME02_O_FWD01]
topic_name=TME02_O_FWD01
is_hot_failover_recv_mode=Y
sess_addr_pair_01=[10.204.5.71:20181-20190;10.204.5.31:50001-60000]
sess_addr_pair_02=[10.204.5.71:20231-20240;10.204.5.31:50001-60000]

[RCV_NWFIX01P_FWO100_01_TME02_M_FWD01]
topic_name=TME02_M_FWD01
is_hot_failover_recv_mode=Y
sess_addr_pair_01=[10.204.5.71:20191-20200;10.204.5.31:50001-60000]
sess_addr_pair_02=[10.204.5.71:20241-20250;10.204.5.31:50001-60000]

[RCV_NWFIX01P_FWO100_01_TME02_C_FWD01]
topic_name=TME02_C_FWD01
is_hot_failover_recv_mode=Y
sess_addr_pair_01=[10.204.5.71:20201-20210;10.204.5.31:50001-60000]
sess_addr_pair_02=[10.204.5.71:20251-20260;10.204.5.31:50001-60000]

# 代刚ぃㄏノ璶砞﹚.
[SRC_NWFIX01P_FWO100_01_TFWD_QT01]
topic_name=TFWD_QT01
is_hot_failover_recv_mode=N
listen_ip=10.204.5.31
listen_port_range_low=20021
listen_port_range_high=20030

# 代刚ぃㄏノ璶砞﹚.
[SRC_NWFIX01P_FWO100_01_TFWD_QT02]
topic_name=TFWD_QT02
is_hot_failover_recv_mode=N
listen_ip=10.204.5.31
listen_port_range_low=20031
listen_port_range_high=20040

# 代刚ぃㄏノ璶砞﹚.
[RCV_NWFIX01P_FWO100_01_TQT_FWD01]
topic_name=TQT_FWD01
is_hot_failover_recv_mode=N
sess_addr_pair_01=[10.204.5.71:10001-15000;10.204.5.31:50001-60000]

# 代刚ぃㄏノ璶砞﹚.
[RCV_NWFIX01P_FWO100_01_TRPT_FWD01]
topic_name=TRPT_FWD01
is_hot_failover_recv_mode=N
sess_addr_pair_01=[10.204.5.71:10001-15000;10.204.5.31:50001-60000]

# 代刚ぃㄏノ璶砞﹚.
[SRC_NWFIX01P_FWO100_01_TCMD_FWD_RPT01]
topic_name=TCMD_FWD_RPT01
is_hot_failover_recv_mode=N
listen_ip=10.204.5.31
listen_port_range_low=20041
listen_port_range_high=20050

# 代刚ぃㄏノ璶砞﹚.
[RCV_NWFIX01P_FWO100_01_TCMD_RPT_FWD01]
topic_name=TCMD_RPT_FWD01
is_hot_failover_recv_mode=N
sess_addr_pair_01=[10.204.5.71:10001-15000;10.204.5.31:50001-60000]

[SRC_NWFIX01P_FWO100_01_TFWD_CMD01]
topic_name=TFWD_CMD01
is_hot_failover_recv_mode=N
listen_ip=10.204.5.31
listen_port_range_low=20051
listen_port_range_high=20060

[RCV_NWFIX01P_FWO100_01_TCMD_FWD01]
topic_name=TCMD_FWD01
is_hot_failover_recv_mode=Y
sess_addr_pair_01=[10.204.5.71:20261-20270;10.204.5.31:50001-60000]

#### \TSET (10.204.5.71 / $ZTC71)
## NPO910 01B
[RCV_TSET_NPO910_1B_TSQ_ME01]
topic_name=TSQ_ME01
is_hot_failover_recv_mode=N
sess_addr_pair_01=[10.204.5.71:20311-20320;10.204.5.71:50001-60000]

[SRC_TSET_NPO910_1B_TME_TIME01]
topic_name=TME_TIME01
is_hot_failover_recv_mode=N
listen_ip=10.204.5.71
listen_port_range_low=20061
listen_port_range_high=20070

# 代刚ぃㄏノ璶砞﹚.
[SRC_TSET_NPO910_1B_TME_CMD01]
topic_name=TME_CMD01
is_hot_failover_recv_mode=N
listen_ip=10.204.5.71
listen_port_range_low=20071
listen_port_range_high=20080

[SRC_TSET_NPO910_1B_TME01_O_FWD01]
topic_name=TME01_O_FWD01
is_hot_failover_recv_mode=N
listen_ip=10.204.5.71
listen_port_range_low=20081
listen_port_range_high=20090

[SRC_TSET_NPO910_1B_TME01_M_FWD01]
topic_name=TME01_M_FWD01
is_hot_failover_recv_mode=N
listen_ip=10.204.5.71
listen_port_range_low=20091
listen_port_range_high=20100

[SRC_TSET_NPO910_1B_TME01_C_FWD01]
topic_name=TME01_C_FWD01
is_hot_failover_recv_mode=N
listen_ip=10.204.5.71
listen_port_range_low=20101
listen_port_range_high=20110

## NPO910 01P
[RCV_TSET_NPO910_1P_TSQ_ME01]
topic_name=TSQ_ME01
is_hot_failover_recv_mode=N
sess_addr_pair_01=[10.204.5.71:20311-20320;10.204.5.71:50001-60000]

[SRC_TSET_NPO910_1P_TME_TIME01]
topic_name=TME_TIME01
is_hot_failover_recv_mode=N
listen_ip=10.204.5.71
listen_port_range_low=20111
listen_port_range_high=20120

# 代刚ぃㄏノ璶砞﹚.
[SRC_TSET_NPO910_1P_TME_CMD01]
topic_name=TME_CMD01
is_hot_failover_recv_mode=N
listen_ip=10.204.5.71
listen_port_range_low=20121
listen_port_range_high=20130

[SRC_TSET_NPO910_1P_TME01_O_FWD01]
topic_name=TME01_O_FWD01
is_hot_failover_recv_mode=N
listen_ip=10.204.5.71
listen_port_range_low=20131
listen_port_range_high=20140

[SRC_TSET_NPO910_1P_TME01_M_FWD01]
topic_name=TME01_M_FWD01
is_hot_failover_recv_mode=N
listen_ip=10.204.5.71
listen_port_range_low=20141
listen_port_range_high=20150

[SRC_TSET_NPO910_1P_TME01_C_FWD01]
topic_name=TME01_C_FWD01
is_hot_failover_recv_mode=N
listen_ip=10.204.5.71
listen_port_range_low=20151
listen_port_range_high=20160

## NPO910 02B
[RCV_TSET_NPO910_2B_TSQ_ME02]
topic_name=TSQ_ME02
is_hot_failover_recv_mode=N
sess_addr_pair_01=[10.204.5.71:20321-20330;10.204.5.71:50001-60000]

[SRC_TSET_NPO910_2B_TME_TIME02]
topic_name=TME_TIME02
is_hot_failover_recv_mode=N
listen_ip=10.204.5.71
listen_port_range_low=20161
listen_port_range_high=20170

[SRC_TSET_NPO910_2B_TME_CMD02]
topic_name=TME_CMD02
is_hot_failover_recv_mode=N
listen_ip=10.204.5.71
listen_port_range_low=20171
listen_port_range_high=20180

[SRC_TSET_NPO910_2B_TME02_O_FWD01]
topic_name=TME02_O_FWD01
is_hot_failover_recv_mode=N
listen_ip=10.204.5.71
listen_port_range_low=20181
listen_port_range_high=20190

[SRC_TSET_NPO910_2B_TME02_M_FWD01]
topic_name=TME02_M_FWD01
is_hot_failover_recv_mode=N
listen_ip=10.204.5.71
listen_port_range_low=20191
listen_port_range_high=20200

[SRC_TSET_NPO910_2B_TME02_C_FWD01]
topic_name=TME02_C_FWD01
is_hot_failover_recv_mode=N
listen_ip=10.204.5.71
listen_port_range_low=20201
listen_port_range_high=20210

## NPO910 02P
[RCV_TSET_NPO910_2P_TSQ_ME02]
topic_name=TSQ_ME02
is_hot_failover_recv_mode=N
sess_addr_pair_01=[10.204.5.71:20321-20330;10.204.5.71:50001-60000]

[SRC_TSET_NPO910_2P_TME_TIME02]
topic_name=TME_TIME02
is_hot_failover_recv_mode=N
listen_ip=10.204.5.71
listen_port_range_low=20211
listen_port_range_high=20220

[SRC_TSET_NPO910_2P_TME_CMD02]
topic_name=TME_CMD02
is_hot_failover_recv_mode=N
listen_ip=10.204.5.71
listen_port_range_low=20221
listen_port_range_high=20230

[SRC_TSET_NPO910_2P_TME02_O_FWD01]
topic_name=TME02_O_FWD01
is_hot_failover_recv_mode=N
listen_ip=10.204.5.71
listen_port_range_low=20231
listen_port_range_high=20240

[SRC_TSET_NPO910_2P_TME02_M_FWD01]
topic_name=TME02_M_FWD01
is_hot_failover_recv_mode=N
listen_ip=10.204.5.71
listen_port_range_low=20241
listen_port_range_high=20250

[SRC_TSET_NPO910_2P_TME02_C_FWD01]
topic_name=TME02_C_FWD01
is_hot_failover_recv_mode=N
listen_ip=10.204.5.71
listen_port_range_low=20251
listen_port_range_high=20260

## NFO010 01
[RCV_TSET_NFO010_01_TFWD_CMD01]
topic_name=TFWD_CMD01
is_hot_failover_recv_mode=N
sess_addr_pair_01=[10.204.5.31:20051-20060;10.204.5.71:50001-60000]

[SRC_TSET_NFO010_01_TCMD_FWD01]
topic_name=TCMD_FWD01
is_hot_failover_recv_mode=N
listen_ip=10.204.5.71
listen_port_range_low=20261
listen_port_range_high=20270

## NTB910 01
[SRC_TSET_NTB910_01_TSQ01_CMD]
topic_name=TSQ01_CMD
is_hot_failover_recv_mode=N
listen_ip=10.204.5.71
listen_port_range_low=20271
listen_port_range_high=20280

## NTB910 02
[SRC_TSET_NTB910_02_TSQ02_CMD]
topic_name=TSQ02_CMD
is_hot_failover_recv_mode=N
listen_ip=10.204.5.71
listen_port_range_low=20281
listen_port_range_high=20290

#NPO510 01
[SRC_TSET_NPO510_01_TALL_SQ01]
topic_name=TALL_SQ01
is_hot_failover_recv_mode=N
listen_ip=10.204.5.71
listen_port_range_low=20291
listen_port_range_high=20300

[RCV_TSET_NPO510_01_TME_TIME01]
topic_name=TME_TIME01
is_hot_failover_recv_mode=Y
sess_addr_pair_01=[10.204.5.71:20061-20070;10.204.5.71:50001-60000]
sess_addr_pair_02=[10.204.5.71:20111-20120;10.204.5.71:50001-60000]

#NPO510 02
[SRC_TSET_NPO510_02_TALL_SQ02]
topic_name=TALL_SQ02
is_hot_failover_recv_mode=N
listen_ip=10.204.5.71
listen_port_range_low=20301
listen_port_range_high=20310

[RCV_TSET_NPO510_02_TME_TIME02]
topic_name=TME_TIME02
is_hot_failover_recv_mode=Y
sess_addr_pair_01=[10.204.5.71:20161-20170;10.204.5.71:50001-60000]
sess_addr_pair_02=[10.204.5.71:20211-20220;10.204.5.71:50001-60000]

#### LCLIM000 (10.204.5.71 / $ZTC71)
## SQO100 01
[RCV_LCLIM000_SQO100_01_TALL_SQ01]
topic_name=TALL_SQ01
is_hot_failover_recv_mode=N
sess_addr_pair_01=[10.204.5.31:20001-20010;10.204.5.71:50001-60000]
sess_addr_pair_02=[10.204.5.71:20291-20300;10.204.5.71:50001-60000]

[SRC_LCLIM000_SQO100_01_TSQ_ME01]
topic_name=TSQ_ME01
is_hot_failover_recv_mode=N
listen_ip=10.204.5.71
listen_port_range_low=20311
listen_port_range_high=20320

[RCV_LCLIM000_SQO100_01_TSQ01_CMD]
topic_name=TSQ01_CMD
is_hot_failover_recv_mode=N
sess_addr_pair_01=[10.204.5.71:20271-20280;10.204.5.71:50001-60000]

## SQO100 02
[RCV_LCLIM000_SQO100_02_TALL_SQ02]
topic_name=TALL_SQ02
is_hot_failover_recv_mode=N
sess_addr_pair_01=[10.204.5.31:20011-20020;10.204.5.71:50001-60000]
sess_addr_pair_02=[10.204.5.71:20301-20310;10.204.5.71:50001-60000]

[SRC_LCLIM000_SQO100_02_TSQ_ME02]
topic_name=TSQ_ME02
is_hot_failover_recv_mode=N
listen_ip=10.204.5.71
listen_port_range_low=20321
listen_port_range_high=20330

[RCV_LCLIM000_SQO100_02_TSQ02_CMD]
topic_name=TSQ02_CMD
is_hot_failover_recv_mode=N
sess_addr_pair_01=[10.204.5.71:20281-20290;10.204.5.71:50001-60000]
