#SQ
[CTX]
pthread_stack_size=0

[EVQ]
is_auto_dispatch=Y
timeout_usec=1000
num_of_msg_buffers=1000

[SRC_LCLIM000_SQO100_01_TSQ_ME01]
topic_name=TSQ_ME01
is_hot_failover_recv_mode=N
listen_ip=10.204.5.71
listen_port_range_low=45001
listen_port_range_high=45010

[SRC_LCLIM000_SQO100_01_TALL_SQ01]
topic_name=TALL_SQ01
is_hot_failover_recv_mode=N
listen_ip=10.204.5.71
listen_port_range_low=45011
listen_port_range_high=45020

[SRC_LCLIM000_SQO100_01_TSQ01_CMD]
topic_name=TSQ01_CMD
is_hot_failover_recv_mode=N
listen_ip=10.204.5.71
listen_port_range_low=45021
listen_port_range_high=45030

[SRC_LCLIM000_SQO100_02_TSQ_ME02]
topic_name=TSQ_ME02
is_hot_failover_recv_mode=N
listen_ip=10.204.5.71
listen_port_range_low=45031
listen_port_range_high=45040

[SRC_LCLIM000_SQO100_02_TALL_SQ02]
topic_name=TALL_SQ02
is_hot_failover_recv_mode=N
listen_ip=10.204.5.71
listen_port_range_low=45041
listen_port_range_high=45050

[SRC_LCLIM000_SQO100_02_TSQ02_CMD]
topic_name=TSQ02_CMD
is_hot_failover_recv_mode=N
listen_ip=10.204.5.71
listen_port_range_low=45051
listen_port_range_high=45060
